
# requirements.txt (flexible versions)

### Core
pandas>=1.5.0
numpy>=1.21.0

### Notebook
jupyter
notebook
ipykernel

### Data sources
yfinance
openml
wbdata
seaborn
scikit-learn

### Kaggle
kaggle

### Viz
matplotlib
plotly

### Utils
requests
openpyxl
xlrd

### Testing
pytest
pytest-cov
